@import "neverputt.css";

/* Styling specific to the blue and white theme */
body{color: #000000; background-color: #ffffff; background-image: url("../gfx/blu_wht.png"); background-repeat:repeat-x;}
a:link{color:#000080;}
a:visited{color:#800080;}
a:active{color:#808000;}
