@import "neverputt.css";

/* Styling specific to the paxed 07 theme */
body{color: #ffffff; background-color: #01570b; background-image: url("../gfx/paxed07.png"); background-repeat:repeat-x;}
a:link{color:#00ffff;}
a:visited{color:#ff00ff;}
a:active{color:#ffff00;}
