@import "neverputt.css";

/* Styling specific to the paxed 10 theme */
body{color: #000000; background-color: #a85ca4; background-image: url("../gfx/paxed10.png"); background-repeat:repeat-x;}
a:link{color:#000080;}
a:visited{color:#00A000;}
a:active{color:#808000;}
