@import "neverputt.css";

/* Styling specific to the paxed 03 theme */
body{color: #000000; background-color: #d7e011; background-image: url("../gfx/paxed03.png"); background-repeat:repeat-x;}
a:link{color:#000080;}
a:visited{color:#800080;}
a:active{color:#008000;}
