#playfield {position: relative;}

.dieRoll {position: absolute; color: #006; border: 1px solid #000; background: white; cursor: pointer;}

@media (min-width: 901px) and (max-width: 1525px), (max-height: 480px) {
	.dieRoll {position: absolute; width: 73px; height: 73px; color: #006; background: white; font-size: 75%; cursor: pointer;}
	.tentative {padding-top: 15px; padding-bottom: 15px;}
	#die0 {left: 25px; top: 25px;}
	#die1 {left: 125px; top: 25px;}
	#die2 {left: 225px; top: 25px;}
	#die3 {left: 25px; top: 125px;}
	#die4 {left: 125px; top: 125px;}
	#die5 {left: 225px; top: 125px;}

	#commandBar {text-align: center; clear: both;}
}

@media (max-width: 900px) {
	.dieRoll {width: 48px; height: 48px; font-size: 50%;}
	.tentative {padding-top: 15px; padding-bottom: 15px;}
	#die0 {left: 25px; top: 25px;}
	#die1 {left: 100px; top: 25px;}
	#die2 {left: 25px; top: 100px;}
	#die3 {left: 100px; top: 100px;}
	#die4 {left: 25px; top: 175px;}
	#die5 {left: 100px; top: 175px;}

	#commandBar {text-align: center; clear: both;}
}

@media (min-width: 1526px) and (min-height: 481px) {
	.dieRoll {position: absolute; width: 98px; height: 98px; color: black; background: white; font-size: 200%; cursor: pointer;}
	#die0 {left: 50px; top: 25px;}
	#die1 {left: 200px; top: 25px;}
	#die2 {left: 350px; top: 25px;}
	#die3 {left: 500px; top: 25px;}
	#die4 {left: 650px; top: 25px;}
	#die5 {left: 800px; top: 25px;}

	#commandBar {position: absolute; left: 475px; top: 175px; transform: translateX(-50%);}
}

.dieLock {box-shadow: 0px 0px 4px 4px #FF0;}
.pip1 {position: absolute; left: 25%; top: 25%; transform: translate(-50%, -50%);}
.pip2 {position: absolute; left: 25%; top: 50%; transform: translate(-50%, -50%);}
.pip3 {position: absolute; left: 25%; top: 75%; transform: translate(-50%, -50%);}
.pip4 {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.pip5 {position: absolute; left: 75%; top: 25%; transform: translate(-50%, -50%);}
.pip6 {position: absolute; left: 75%; top: 50%; transform: translate(-50%, -50%);}
.pip7 {position: absolute; left: 75%; top: 75%; transform: translate(-50%, -50%);}
.green {color: #060;}
.red {color: #600;}

#scoreboard {font-family: 'Rajdhani', sans-serif; font-size: 110%; text-transform: uppercase; float: right;}
#scoreboard .numeric {background: #202040;}
.tentative {color: #BBB;}

#statusBar {clear: both;}
#helpPanel {display: none;}
