@import "../../nuCampaign/planets.css";

#plays {display: grid; grid-template-columns: auto auto auto; font-size: 140%;}

.hexRow {clear: left;}
.hexRow.even {margin-left: 27px;}

img.hex {
	margin-top: -16.2167px;
	float: left;
	width: 54px;
	/* height: 84px; */ 
    position: relative;
}

a {white-space: nowrap;}

#controls {display: grid; grid-template-columns: auto 50px 50px 710px 50px 50px auto; margin-bottom: 15px;}

button {width: 100%; height: 100%; font-size: 200%;}

#gameBoard {margin-left: 5px; position: relative; margin-bottom: 10px; padding-top: 15px;}
.counter {width: 24px; height: 24px; border-top: 1px solid #CCC; border-left: 1px solid #CCC;}
.ghost {opacity: 0.7;}

#commentary {clear: both; border-top: 1px solid white;}

table {margin-top: 12.5px; margin-bottom: 12.5px;}

tr.deadPlr {color: #808080;}
tr:not(.deadPlr) td.increase {color: #00ff00; font-weight: bold;}
tr:not(.deadPlr) td.decrease {color: #ff8080; font-weight: bold;}

