@import "../../nuCampaign/planets.css";

#plays {display: grid; grid-template-columns: auto auto auto; font-size: 140%;}

.hexRow {clear: left;}
.hexRow.even {margin-left: 40.5px;}

a {white-space: nowrap;}

button {width: 100%; height: 100%; font-size: 190%;}
#commentary {clear: both; border-top: 1px solid white;}
table {margin-top: 12.5px; margin-bottom: 12.5px;}

tr.deadPlr {color: #808080;}
tr:not(.deadPlr) td.increase {color: #00ff00; font-weight: bold;}
tr:not(.deadPlr) td.decrease {color: #ff8080; font-weight: bold;}

div.hexSlot {
	float: left;
    position: relative;
}

div.hexLabel {
	font-family: monospace;
	position: absolute;
	left: 50%;
	bottom: 10%;
	transform: translate(-50%, 0%);
	z-index: -1;
}

img.hexBack {
	position: relative;
	left: 0px;
	top: 2px;
	width:100%;
	z-index: 0;
}

#controls {display: grid; margin-bottom: 15px;}

#gameBoard {margin-left: 2.5px; position: relative; padding-top: 25px;}
.counter {border-top: 1px solid #CCC; border-left: 1px solid #CCC; transform: translate(-50%, -50%);}
.ghost {opacity: 0.7;}

@media (max-width: 1440px), (max-height: 800px) {
	#controls:not(.talonBoard, .versusBoard, .dmBoard) {grid-template-columns: auto 45px 45px 710px 45px 45px auto;}
	#controls.talonBoard {grid-template-columns: auto 40px 40px 870px 40px 40px auto;}
	#controls.dmBoard {grid-template-columns: auto 50px 50px 600px 50px 50px auto;}
	#controls.versusBoard {grid-template-columns: auto 50px 50px 518px 50px 50px auto;}
	.counter {width: 20px; height: 20px;}

	div.hexSlot {
		margin-top: -20.2167px;
		width: 54px;
	}

	div.hexLabel {
		font-size: 70%;
	}

	.hexRow.even {margin-left: 27px;}
}

@media (min-width: 1441px) and (min-height: 801px) {
	#controls:not(.talonBoard, .versusBoard, .dmBoard) {grid-template-columns: auto 50px 50px 1060px 50px 50px auto;}
	#controls.talonBoard {grid-template-columns: auto 50px 50px 1303px 50px 50px auto;}
	#controls.dmBoard {grid-template-columns: auto 50px 50px 900px 50px 50px auto;}
	#controls.versusBoard {grid-template-columns: auto 60px 60px 775px 60px 60px auto;}
	.counter {width: 28px; height: 28px;}

	div.hexSlot {
		margin-top: -28.325px;
		width: 81px;
	}

	div.hexLabel {
		font-size: 105%;
	}

	.hexRow.even {margin-left: 40.5px;}
}
